<footer>
    
   <div class="f-info">
    <div class="f-info-socials">
       <a href="https://www.facebook.com/airbnb/"> <i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://x.com/Airbnb"><i class="fa-brands fa-square-twitter"></i></a>
        <a href="https://www.instagram.com/airbnb/?hl=en"><i class="fa-brands fa-instagram"></i></a>
    <div class="airbnb-copy">&copy;  2025 Airbnb, Inc.</div>
</div> 
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
        <a href="/sitemap">Sitemap</a>
        <a href="/Company details">Company details</a>
    </div>
 
  

   <p class="airbnb-copy"> ❤️ 2025 Owner by Nishu Rajput.</p>

</div>
</footer>