<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="alert alert-danger col-6 offset-3 mt-3 d-flex align-items-center justify-content-between" role="alert">
    
    <div class="d-flex align-items-center">
      <!-- SVG icon -->
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill"/>
      </svg>

      <!-- Alert message -->
      <h6 class="mb-0"><%= message %></h6>
    </div>

    <!-- Close button -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

  </div>
</div>
