<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
    <h2 class="col-6 offset-5">Login</h2>
    <div class="col-6 offset-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
           <lable for="username" class="form-label">Username</lable>
           <input
            name="username" 
           id="username"
           placeholder="Enter username"
           type="text"
           class="form-control"
           required
           />
           <div class="valid-feedback">
             Looks good!
          </div>
          <div  class="invalid-feedback">
            Please Enter username.
          </div>
            </div>
           
                 <div class="mb-3">
                    <lable for="password" class="form-label">password</lable>
                    <input
                     name="password" 
                    id="username"
                    placeholder="Enter Password"
                    type="password"
                    class="form-control"
                    required
                    />
                    <div class="valid-feedback">
                      Looks good!
                   </div>
                   <div  class="invalid-feedback">
                     Please Enter password must be 8 digit.
                   </div>
                     </div>
            <button class="btn btn-success ">Login</button>
            <br>
            <br>

            <p class="userMsg">Don't have an account? <a href="/signup">Signup</a></p>
        </form>
    </div>
</div>